.width{
    border: 2px solid;
    background-color: rgb(58, 46, 46);
    height:auto;
    width: 900px;
   
}
.box p{
    color: blanchedalmond; 
   
}p
.box img{
    border: 5px solid #030303;
}img

.set p{color: blanchedalmond; 
    
}
